<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>BpB - Ndryshimi i Shfrytëzuesëve</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!--<link th:href="@{static/styleUsers.css}" rel="stylesheet" type="text/css" href=""/>-->
<link th:href="@{resources/static/styleUser.css}" href="../static/styleUser.css" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="icon" 
      type="image/png" 
      th:href="@{bpbIcon1.png}" />


</head>
<body style="background-color: #eaeaea">

	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
                
        
        <div  style="margin-top: 10px" id="titleId">
            <ul style="margin: 0">
                
                <li><a th:href="@{/home}">Pyetësori</a></li>      
                <li style="float: right"><a th:href="@{/changePassword}">Ndrysho fjalëkalimin</a></li>
                <li style="float: right" class="active"><a th:href="@{/users}"><b>Shfrytëzuesit</b></a></li>
                <li style="float: right"><a th:href="@{/statistikat}">Statistikat</a></li>
 
            </ul>
        </div>

	<div id="contentDiv">
           
            <div class="tabelaDiv">
                
                
                <h2 style="color:#F47025;">Tabela e shfrytëzuesve</h2>
          
                <table class="table table-striped">
                   <thead>
                        <tr>
                            <th>Dega</th>
                            <th>Përgjegjësi i degës</th>
                            <th>Çelësi i hyrjes degë (Emri Mbiemri)</th>
                            <th>Çelësi i Server room (Emri Mbiemri)</th>
                            <th>Kodi i kasafortës ATM (Emri Mbiemri)</th>
                            <th>Kodi i alarmit degë (Emri Mbiemri)</th>
                            <th>Çelësi Trezor (Emri Mbiemri)</th>
                            <th>Çelësi kasafortë 1 (Emri Mbiemri)</th>
                            <th>Çelësi kasafortë 2 (Emri Mbiemri)</th>
                            <th>Kodi alarmit trezor(nëse ka)(Emri Mbiemri)</th>
                            <th>Kodi shifër i kasafortës (Emri Mbiemri)	</th>
                            <th>Kodet digjitale kasafortë 1 (Emri Mbiemri)</th>
                            <th>Kodet digjitale kasafortë 2 (Emri Mbiemri)</th>
                            <th>Veprimet</th>
                            <th>Data e krijimit</th>
                            <th>Data e modifikimit</th>
                        </tr>
                    </thead>
                    <tbody th:if="${not #lists.isEmpty(deget)}">
                        <tr th:each="dega, iteStat : ${deget}">
                            
                            <td id="tdT" name="emriDeges" th:text="${emriDeges}"></td>
                            <td id="tdT" name="pergjegjesiDeges" th:text="${pergjegjesiDeges}"></td>
                            <td id="tdT" name="celesiHyrjesDege" th:text="${celesiHyrjesDege}"></td>
                            <td id="tdT" name="celesiServerRoom" th:text="${celesiServerRoom}"></td>
                            <td id="tdT" name="kodiKasafortesAtm" th:text="${kodiKasafortesAtm}"></td>
                            <td id="tdT" name="kodiAlarmitDege" th:text="${kodiAlarmitDege}"></td>
                            <td id="tdT" name="celesiTrezor" th:text="${celesiTrezor}"></td>
                            <td id="tdT" name="celesiKasaforte1" th:text="${celesiKasaforte1}"></td>
                            <td id="tdT" name="celesiKasaforte2"  th:text="${celesiKasaforte2}"></td>
                            <td id="tdT" name="kodiAlarmitTrezor"  th:text="${kodiAlarmitTrezor}"></td>
                            <td id="tdT" name="kodiShiferKasafortes"  th:text="${kodiShiferKasafortes}"></td>
                            <td id="tdT" name="kodetDigjitaleKasaforte1"  th:text="${kodetDigjitaleKasaforte1}"></td>
                            <td id="tdT" name="kodetDigjitaleKasaforte2"  th:text="${kodetDigjitaleKasaforte2}"></td>
                            <td id="tdT" name="Veprimet"  th:text="${totalPytja1}"><a id="buton"  style="background-color: #F47025; border-color: #F47025" type="button" class="btn btn-primary" th:href="@{/users/remove/{id}/(id=${dega.degaID})}">Fshij Degen</a>
                                                                                   <a id="buton"  style="background-color: #F47025; border-color: #F47025" type="button" class="btn btn-primary" th:href="@{/users/resetPassword/{id}/(id=${dega.degaID})}">Modifiko Degen</a>
                                                                                   <a id="buton"  style="background-color: #F47025; border-color: #F47025" type="button" class="btn btn-primary" th:href="@{/users/gjeneroPdf/{id}/(id=${dega.degaID})}">Gjenero Pdf</a></td>
                            <td id="tdT" name="krijimiDeges"  th:text="${krijimiDeges}"></td>
                            <td id="tdT" name="modifikimiDeges"  th:text="${modifikimiDeges}"></td>

                        </tr>
                       
                    </tbody>
                </table>
                 <div class="shtoShfrytezuesin">
                     <a id="buton"  style="background-color: #F47025; border-color: #F47025" type="button" class="btn btn-primary" th:href="@{/users/add}">Shto Shfrytëzuesin</a>
                </div>
            </div>
                    <div class="temp" style="padding-bottom: 300px"></div>
			

		<script>
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function() {
				scrollFunction()
			};

			function scrollFunction() {
				if (document.body.scrollTop > 20
						|| document.documentElement.scrollTop > 20) {
					document.getElementById("myBtn").style.display = "block";
				} else {
					document.getElementById("myBtn").style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		</script>

                    
	</div>
            <div class="footer">
		  <p>Powered by: BpB IT Division. 2017</p>
		</div>
</body>
</html>
